<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />

    <title>@ViewData["Title"] - Task Manager</title>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-light" style="background-color: #f8f9fa; border-bottom: 2px solid #ccc; padding: 0; width: 100%; margin: 0;">
            <div class="container-fluid" style="padding: 0; width: 100%; margin: 0;">
                <div class="d-flex">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="AddTask" style="border: none; margin-right: 45px; color: black !important; text-decoration: none;">Add Task</a>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Quadrants" style="border: none; color: black !important; text-decoration: none;">Quadrants</a>
                </div>
            </div>
        </nav>

        <div class="row mt-4">
            <main class="col">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
